<h1>Listing games</h1>

<table>
  <tr>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><h2><%= game.gamename %></h2></td>
    <td><%= link_to 'Show', game, {:style=>'color:#415989;',:class => "a"} %></td>
    <td><%= link_to 'Edit', edit_game_path(game), {:style=>'color:#415989;',:class => "a"} %></td>
    <td><%= link_to 'Destroy', game,{:style=>'color:#415989;',:class => "a"}, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create Game', new_game_path,{:style=>'color:#415989;',:class => "a"} %>
