<p id="notice"><%= notice %></p>

<p>
  <b>Gamename:</b>
  <%= @game.gamename %><br>
</p>

<br><h3>Words</h3>
<% @game.lists.each do |list| %>
   
  <p>
    
    <%= list.words %>
  </p>
<% end %>

<br><h3>Add a word:</h3>
<%= form_for([@game, @game.lists.build]) do |f| %>
  
  <div class="field">
    <br><%= f.label :Word %><br />
    <%= f.text_field :words %>
  <%= params[:error] if params[:error]%>
  
  </div>
  <div class="field">
  <%= f.label :Hint %><br />
    <%= f.text_field :hint %>
  <%= params[:error] if params[:error]%>
  </div>
  <div class="actions">
    <%= f.submit 'Create List', :class=> "buttonTo" %><br>
  </div>
<% end %>

<br><em><%= link_to 'Edit', edit_game_path(@game),:class => "delete-link" %></em>&nbsp
<em><%= link_to 'Back', games_path,:class => "delete-link" %></em>&nbsp
<em><%= link_to 'NewGame', new_game_path,:class => "delete-link"%></em>&nbsp
<em><%= link_to 'Play Game', new_player_path,:class => "delete-link" %></em>
