<p id="notice"><%= notice %></p>

<p>
  <b>Gamename:</b>
  <%= @game.gamename %>
</p>

<h2>Words</h2>
<% @game.lists.each do |list| %>
   
  <p>
    
    <%= list.words %>
  </p>
<% end %>

<h2>Add a word:</h2>
<%= form_for([@game, @game.lists.build]) do |f| %>
  
  <div class="field">
    <%= f.label :Word %><br />
    <%= f.text_field :words %>
  <%= params[:error] if params[:error]%>
  
  </div>
  <div class="field">
  <%= f.label :Hint %><br />
    <%= f.text_field :hint %>
  <%= params[:error] if params[:error]%>
  </div>
  <div class="actions">
    <%= f.submit 'Create List', :class=> "buttonTo" %>
  </div>
<% end %>

<%= link_to 'Edit', edit_game_path(@game),{:style=>'color:#415989;',:class => "a"} %> |
<%= link_to 'Back', games_path,{:style=>'color:#415989;',:class => "a"} %>
<%= link_to 'NewGame', new_game_path,{:style=>'color:#415989;',:class => "a"} %>
<%= link_to 'Play Game', players_path,{:style=>'color:#415989;',:class => "a"} %>
